.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Font Size */
.fs-7 {
  font-size: 0.75rem;
}

.is-playlist {
  right: 5px;
  bottom: 5px;
  z-index: 1;
}

/* Videos Image Action */
.video-card > .card-header > .card-image-gradient{
  top: 0;
  display: none !important;
}
.video-card > .card-header:hover > .card-image-gradient{
  top: 0;
  cursor: pointer;
  display: flex !important;
}
.video-card > .card-header > .card-image-gradient::before {
  width: 100%;
  height: 100%;
  background-color: #212529 !important;
  opacity: 0.5;
  top: 0;
  content: "";
  position: absolute;
}

/* Videos Btn Play */
.video-card > .card-header > .card-image-gradient > .video-btn-play {
  z-index: 1;
}

/* Videos Title */
.video-card > .card-body > .card-title {
  font-size: 1rem;
  font-weight: bold;
}

/* Videos Description */
.video-card > .card-body > .card-description {
  font-size: 0.55rem;
  font-weight: bold;
}

/* Videos Channel */
.video-card > .card-body > .card-channel {
  font-size: 0.75rem;
}

/* Videos Published At */
.video-card > .card-footer > .card-date {
  font-size: 0.60rem;
  font-style: italic;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.bd-pagination > .btn {
  margin: .25rem .125rem;
}
